<h2>Profile</h2>

{{#each model as profile}}
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <table class="table table-condensed">
                <tr>
                    <th>Username: </th>
                    <td>{{ username }}</td>
                </tr>
                <tr>
                    <th>Email: </th>
                    <td>{{ email }}</td>
                </tr>
            </table>
        </div>
    </div>
{{/each}}
